.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Remove the display: none from the previous button */
.swiper-button-prev {
  /* Remove this line or set to default */
  /* display: none !important; */ /* Commented out to ensure the button is visible */
  @apply bg-white p-5 rounded-full z-50 shadow-md;
}

/* Customize the next button */
.swiper-button-next {
  @apply bg-white p-5 rounded-full z-50 shadow-md;
}

/* Customize button styles */
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 16px !important; /* Set font size for the navigation button icons */
  color: black; /* Ensure button icons are visible */
}

/* Button styles */
.btn-primary {
  @apply bg-primary px-12 py-2 rounded-md text-base font-secondary font-bold hover:bg-secondary hover:text-white transition-all duration-200 cursor-pointer;
}

.html {
  scroll-behavior: smooth;
}
